.header{
    height: 80px;
    background-color:#1C2B35 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 130px;

    
top:0;
}
.header a{
    color:#FFFFFF ;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
    
    
    }
    #header-name{
        color: rgb(233, 165, 62);
    }